<p>Dear Member, </p>

<h4>This is a Birthday Wish Email from BuddyTrade Team</h4>

<p>
	Congratulations!!! Wish You Many Many Happy Returns Of The Day.
	<h2>Happy Birthday</h2>
	
	We are add reward points to your on your birthday 

	<h4>DO NOT REPLY TO THIS EMAIL.</h4>

	<blockquote>
		Regards <br><br>

		Buddy Trade <br>
		<small>a sister concern of Hunny-Bunny</small><br>
		<h4>powered by : <a href='http://www.buddytrade.in'>BuddyTrade</a></h4>
	</blockquote>
	<hr/>
	<small>
	Disclaimer
	</small>
</p>