<p>Dear Member, </p>

<h4>Welcome To Buddy Trade</h4>

<p>
	Congratulations!!! You are now our valuable member. Please click the following link to activate your account.

	<a href='http://buddytrade.in/socialApp/?subpage=xsocial-verifyaccount&verifycode=<?$activation_code?>'>CLICK HERE TO ACTIVATE</a> 

	In Case if the above link does not works, please visit http://localhost/hunbun/?subpage=xsocial-verfyaccount and fill your verification code as <br/>

	<b>Verfication Code : <?$activation_code?> </b>

	<h4>DO NOT REPLY TO THIS EMAIL.</h4>

	<blockquote>
		Regards <br><br>

		Buddy Trade <br>
		<small>a sister concern of Hunny-Bunny</small><br>
		<h4>powered by : <a href='http://www.buddytrade.in'>BuddyTrade</a></h4>
	</blockquote>
	<hr/>
	<small>
	Disclaimer
	</small>
</p>